In [1]:
from models.DBManager import DBManager
voc2012path = "C:/Users/antho/Documents/GitHub/data/VOCdevkit/VOC2012/"

In [2]:
manager = DBManager()

In [3]:
vehicles = ["aeroplane", "boat", "bus", "car"]
train_df_vehicle, val_df_vehicle = manager.getCombinedClassesDf(voc2012path, vehicles, "vehicle")

animals = ["bird", "cow", "dog", "sheep"]
train_df_animal, val_df_animal = manager.getCombinedClassesDf(voc2012path, animals, "animal")

train_df_person, val_df_person = manager.getTrainValDfClass(voc2012path, "person")

In [4]:
print("Number of vehicles (train, val): {}, {},\n\
Number of animal (train, val): {}, {},\n\
Number of person (train, val): {}, {}".format(len(train_df_vehicle), len(val_df_vehicle),
                                              len(train_df_animal), len(val_df_animal),
                                              len(train_df_person), len(val_df_person)))

Number of vehicles (train, val): 1432, 1419,
Number of animal (train, val): 1361, 1344,
Number of person (train, val): 2142, 2232

In [5]:
train_df_vehicle.head()

        imgName className
5   2008_000033   vehicle
7   2008_000037   vehicle
34  2008_000151   vehicle
47  2008_000197   vehicle
71  2008_000291   vehicle

In [6]:
train_df_person.head()

        imgName className
0   2008_000008    person
3   2008_000023    person
6   2008_000036    person
8   2008_000041    person
19  2008_000096    person

In [7]:
train_df = manager.concatDataframes([train_df_vehicle, train_df_animal, train_df_person])
val_df = manager.concatDataframes([val_df_vehicle, val_df_animal, val_df_person])

In [8]:
train_df.head()

        imgName className
5   2008_000033   vehicle
7   2008_000037   vehicle
34  2008_000151   vehicle
47  2008_000197   vehicle
71  2008_000291   vehicle

In [9]:
train_df = manager.shuffleDf(train_df)
val_df = manager.shuffleDf(val_df)

In [10]:
train_df

          imgName className
0     2010_000120    person
1     2009_000692    animal
2     2008_006538   vehicle
3     2008_007410    person
4     2008_006331    person
...           ...       ...
4930  2009_002505   vehicle
4931  2008_001052    person
4932  2011_000221    person
4933  2008_008319    animal
4934  2009_002897   vehicle

[4935 rows x 2 columns]

In [11]:
manager.createDb(voc2012path, train_df, "C:/Users/antho/Documents/GitHub/data/DB", "train")

In [12]:
manager.createDb(voc2012path, val_df, "C:/Users/antho/Documents/GitHub/data/DB", "val")